Repository mendersoftware/mender-dist-packages: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:images, build:packages:local-image, publish:images, publish:staging:s3:scripts:install-mender-sh, publish:production:s3:scripts:install-mender-sh

Path conditions:
  build:images: any of: Dockerfile, docker-build-images, mender-deb-package
  build:packages:local-image: any of: Dockerfile, docker-build-images, mender-deb-package
  publish:images: any of: Dockerfile, docker-build-images, mender-deb-package
  publish:staging:s3:scripts:install-mender-sh: any of: scripts/install-mender.sh
  publish:production:s3:scripts:install-mender-sh: any of: scripts/install-mender.sh

mender-deb-package: Modify logic to detect private repo URL
  mender-deb-package
Due: build:images, build:packages:local-image, publish:images

pipeline: publish:images: Add missing docker login
  .gitlab-ci.yml
Due: none

install-mender.sh: Propagate --demo flag into mender setup
  scripts/install-mender.sh
Due: publish:staging:s3:scripts:install-mender-sh, publish:production:s3:scripts:install-mender-sh

pipeline: Remove obsolete variable PUBLISH_LATEST_CLIENT_PACKAGE
  .gitlab-ci.yml
Due: none

mender-deb-package: Increment minor (not bugfix) for "master" packages
  mender-deb-package
Due: build:images, build:packages:local-image, publish:images

mender-connect master: depend on mender-client 3.2.0
  recipes/mender-connect/debian-1.0.x/compat
  recipes/mender-connect/debian-1.0.x/control
  recipes/mender-connect/debian-1.0.x/copyright
  recipes/mender-connect/debian-1.0.x/mender-connect.dirs
  recipes/mender-connect/debian-1.0.x/rules
  recipes/mender-connect/debian-1.0.x/source/format
  recipes/mender-connect/debian-1.1.x
  recipes/mender-connect/debian-1.2.x
  tests/conftest.py
Due: none

Disable test_mender_connect until Mender 3.2 release
  tests/conftest.py
  tests/test_package_addons.py
Due: none

QA-351: Separate OS from commercial packages in output
  .gitlab-ci.yml
  docker-build-package
  tests/helpers.py
Due: none

mender-deb-package: Amend version increment for "master" packages
  mender-deb-package
Due: build:images, build:packages:local-image, publish:images

pipeline: Disable reuse of upstream images
  .gitlab-ci.yml
Due: none

Fix TestPackageMenderClientInteractive after introducing a new step
  tests/test_package_client.py
Due: none

test: Add a check for the output from the newer client
  tests/test_package_client.py
Due: none

MEN-5137: Create the mender-monitor-demo package
  recipes/mender-monitor/debian-1.0.x/compat
  recipes/mender-monitor/debian-1.0.x/control
  recipes/mender-monitor/debian-1.0.x/copyright
  recipes/mender-monitor/debian-1.0.x/rules
  recipes/mender-monitor/debian-1.0.x/source/format
  recipes/mender-monitor/debian-master/control
  recipes/mender-monitor/debian-master/mender-monitor-demo.install
  recipes/mender-monitor/debian-master/mender-monitor-demo.links
  recipes/mender-monitor/debian-master/mender-monitor.install
  recipes/mender-monitor/debian-master/rules
  scripts/install-mender.sh
Due: publish:staging:s3:scripts:install-mender-sh, publish:production:s3:scripts:install-mender-sh

Do not install the example monitors by default
  recipes/mender-monitor/debian-master/mender-monitor-demo.links
Due: none

MEN-5299: Debian package for the mender-gateway component
  .gitlab-ci.yml
  LIC_FILES_CHKSUM.sha256
  README.md
  docker-build-package
  mender-deb-package
  recipes/mender-gateway/debian-master/compat
  recipes/mender-gateway/debian-master/control
  recipes/mender-gateway/debian-master/copyright
  recipes/mender-gateway/debian-master/mender-gateway.dirs
  recipes/mender-gateway/debian-master/rules
  recipes/mender-gateway/debian-master/source/format
  tests/conftest.py
  tests/helpers.py
  tests/test_package_gateway.py
Due: build:images, build:packages:local-image, publish:images

Add mender-client to mender-gateway's suggestions
  recipes/mender-gateway/debian-master/control
Due: none

Update `install-mender.sh` to install mender-gateway
  scripts/install-mender.sh
Due: publish:staging:s3:scripts:install-mender-sh, publish:production:s3:scripts:install-mender-sh

chore: fix the publishing of monitor-demo packages
  .gitlab-ci.yml
Due: none

chore: fix the publishing of the mender-gateway packages
  .gitlab-ci.yml
Due: none

chore: Update the maintainability comment to not be version specific
  .gitlab-ci.yml
Due: none

Update golang version to latest 1.17
  Dockerfile
Due: build:images, build:packages:local-image, publish:images

MEN-5390: Fix (again) the binary symlinks for mender-monitor
  recipes/mender-monitor/debian-master/rules
Due: none

MEN-5400: install-mender.sh: Fix install of demo commercial packages
  scripts/install-mender.sh
Due: publish:staging:s3:scripts:install-mender-sh, publish:production:s3:scripts:install-mender-sh

Add libffi6 as a depency for the client
  recipes/mender-client/debian-master/control
Due: none

debian-2.4.x: Add libffi6 as a depency for the client
  recipes/mender-client/debian-2.4.x/control
Due: none

install-mender.sh: Add mender-monitor-demo to deb-to-url mapping
  scripts/install-mender.sh
Due: publish:staging:s3:scripts:install-mender-sh, publish:production:s3:scripts:install-mender-sh

pipeline: publish mender-monitor: Add guards around demo package
  .gitlab-ci.yml
Due: none

pipeline: publish commercial: comment out the "latest" updates
  .gitlab-ci.yml
Due: none

install the missing enabled directory
  scripts/install-mender.sh
Due: publish:staging:s3:scripts:install-mender-sh, publish:production:s3:scripts:install-mender-sh

Add the missing enabled and available directories during install
  recipes/mender-monitor/debian-master/mender-monitor-demo.install
  recipes/mender-monitor/debian-master/mender-monitor.dirs
Due: none

MEN-5410: Build packages for Debian and Ubuntu two latest releases
  .gitlab-ci.yml
  Dockerfile
  docker-build-common
  docker-build-images
  docker-build-package
  mender-deb-package
  recipes/mender-client/debian-master/control
  recipes/mender-client/debian-master/rules
  recipes/mender-configure/debian-master/control
  recipes/mender-connect/debian-master/control
  recipes/mender-connect/debian-master/rules
  recipes/mender-gateway/debian-master/control
  recipes/mender-gateway/debian-master/rules
  recipes/mender-monitor/debian-master/control
Due: build:images, build:packages:local-image, publish:images

MEN-5410: Append distribution and release to the package version
  .gitlab-ci.yml
  docker-build-package
  mender-deb-package
  tests/test_dist_packages_versions.py
Due: build:images, build:packages:local-image, publish:images

MEN-5410: Refactor scritps and pipeline to build in parallel
  .gitlab-ci.yml
  docker-build-image
  docker-build-images
  docker-build-package
Due: build:images, build:packages:local-image, publish:images

feat: update `install-mender.sh` to detect LSB distro/version
  scripts/install-mender.sh
Due: publish:staging:s3:scripts:install-mender-sh, publish:production:s3:scripts:install-mender-sh

mender-deb-package: Fix regex for detecting tags
  mender-deb-package
Due: build:images, build:packages:local-image, publish:images

install-mender.sh: Fix typo in deprecated repo check
  scripts/install-mender.sh
Due: publish:staging:s3:scripts:install-mender-sh, publish:production:s3:scripts:install-mender-sh

install-mender.sh: Define variable for Mender APT sources list file
  scripts/install-mender.sh
Due: publish:staging:s3:scripts:install-mender-sh, publish:production:s3:scripts:install-mender-sh

mender-deb-package: Fix detection of distribution based on tags
  mender-deb-package
Due: build:images, build:packages:local-image, publish:images

temporary workaround for ubuntu archive being down
  Dockerfile
Due: build:images, build:packages:local-image, publish:images
